/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @font-face {
    font-family: 'Bahnschrift';
    src: url('/font/Bahnschrift.woff2') format('woff2'),
        url('/font/Bahnschrift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 */
*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* esto es para que respete el tamaño de la caja  */
}

::-moz-selection {
    background-color: #96e579;
    color: #e76616;
}

::selection {
    background-color: #96e579;
    color: #e76616;
}

/* Scrollbar general */
::-webkit-scrollbar {
    width: 0.9rem;
    /* ancho de la barra */
    height: auto;
    /* alto para scroll horizontal */
}

/* Fondo del track */
::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* color del fondo */
    /* border-radius: 5px;  */
    /* bordes redondeados */
}

/* Barra que se mueve */
::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(#4caf50), to(#2e7d32));
    background: linear-gradient(180deg, #4caf50, #2e7d32);
    /* degradado verde */
    border-radius: 5px;
    /* redondeo */
    border: 2px solid #1e1e1e;
    /* separa el thumb del fondo */
}

/* Hover del thumb */
::-webkit-scrollbar-thumb:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#66bb6a), to(#388e3c));
    background: linear-gradient(180deg, #66bb6a, #388e3c);
}

html {
    font-size: 0.94vw;
}

body {
    font-family: 'Bahnschrift', sans-serif;
    color: #340f19;
    font-weight: 400;
    font-size: 1rem;
}

a {
    display: inline-block;
}

section {
    position: relative;
}

footer .prefooter {
    position: relative;
    bottom: -4rem;
}

footer .pie {
    color: #fff;
    padding-bottom: 1rem;
    background-color: #11283e;
    ;
    padding-top: 5rem;
}

footer .pie a {
    color: white;
}

footer .pie .lista-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

footer .pie .lista-redes a {
    margin-left: 1rem;
}

.cabecera {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.cabecera .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* lo centra en el eje Y los intens */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.cabecera .link-logo {
    display: inline-block;
    vertical-align: middle;
}

.cabecera .link-logo .logo {
    width: 3.5rem;
    height: auto;
}

.cabecera .menu {}

.cabecera .menu a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #110701;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    /* separacion entre letra y letra */
    word-spacing: 0.3rem;
    /* separacion entre palabra y palabra */
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cabecera .menu .seleccionado,
.cabecera .menu a:hover {
    color: #ffcc35;
}

.cabecera .menu a:first-child {
    /* primer hijo A */
    margin-left: 0;
}

.cabecera .menu a:last-child {
    /* ultimo hijo A */
    margin-right: 0;
}

.saltarina {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;
    border: 0.2rem solid #ffcd3500;
    color: #fff492;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.7rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation-name: saltar;
            animation-name: saltar;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@-webkit-keyframes saltar {
    from {
        bottom: 3rem;
    }

    to {
        bottom: 5rem;
    }
}

@keyframes saltar {
    from {
        bottom: 3rem;
    }

    to {
        bottom: 5rem;
    }
}

.cabecera .hamb {
    color: #ffcc35;
    font-size: 2.8rem;
    display: none;
}

.container {
    width: 85%;
    padding: 0 1rem;
    margin: 0 auto;
}

.container-full {
    width: 100%;
    padding: 0 1rem;
}

.fila {
    margin-left: -1rem;
    margin-right: -1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.fila.fila-centrada {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.columna {
    padding-left: 1rem;
    padding-right: 1rem;
}

.columna-100 {
    width: 100%;
}

.columna-50 {
    width: 50%;
}

.columna-33 {
    width: 33.33%;
}

.columna-25 {
    width: 25%;
}

.empujar-mb-0 {
    margin-left: 0;
}

.orden {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.empujar-33 {
    margin-left: 33.33%;
}

.sin-padding {
    padding-left: 0;
    padding-right: 0;
}

.padding-grande {
    padding: 4rem;
}

.conteendor-cuadrado {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(16, 13, 62);
    cursor: pointer;
}

.conteendor-cuadrado.cont-rect {
    padding-bottom: 56.25%;
}

.conteendor-cuadrado img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    /* se puede usar para video y para imagenes */
    -o-object-position: center;
       object-position: center;
    /*  opacity: 0.75;
    filter: grayscale(1); */
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.conteendor-cuadrado:hover img {
    -webkit-transform: scale(1.3) rotate(10deg);
        -ms-transform: scale(1.3) rotate(10deg);
            transform: scale(1.3) rotate(10deg);
    opacity: 0.75;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}

.conteendor-cuadrado.cont-rect:hover img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
}

.conteendor-cuadrado .contenido-cuadrado {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    top: -100%;
    color: white;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.conteendor-cuadrado:hover .contenido-cuadrado {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.conteendor-cuadrado .contenido-cuadrado h2 {
    margin-top: 0;
}

.mapa {
    position: relative;
    padding-bottom: 33.33%;
    width: 100%;
}

.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.seccion {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.centrar-texto {
    text-align: center;
}

.derecha-texto {
    text-align: right;
}

.inclinar--texto {
    font-size: italic;
}

.justificar-texto {
    text-align: left;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    z-index: 1;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 0.5;
}

.importante {
    font-style: italic;
}

.titulos {
    margin-top: 0;
    margin-bottom: 2.8rem;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 1.3rem 1.3rem 0.15rem #5cc89a;
    position: relative;
    padding-top: 1.5rem;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulos::before {
    position: absolute;
    top: 0;
    width: 3rem;
    left: 50%;
    height: 0.15rem;
    background-color: #26220d;
    margin-left: -1.5rem;
    content: " ";
}

.titulos::after {
    position: absolute;
    top: 0;
    width: 0.3rem;
    left: 0;
    height: 100%;
    background-color: #26220d;
    content: " ";
}

.magin-arriba {
    margin-top: 2.8rem;
}

.btn {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 1.3rem;
    border-width: 0.15rem;
    border-style: solid;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.btn-circulo {
    width: 2.8rem;
    height: 2.8rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* eje Y */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* eje X */
    padding: 0.5rem;
    font-size: 1.8rem;
    border-radius: 100%;
    border-width: 0.15rem;
    border-style: solid;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.btn-circulo.borde-blanco {
    color: #fff;
    border-color: #fff;
}

.btn-circulo.borde-blanco:hover {
    background-color: #c67013;
    color: #f2f1f1;
}

.btn.boton-transparente {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.btn.boton-transparente:hover {
    background-color: #EA7B0C;
    border-color: #0C0A0B;
    color: #0C0A0B;
}

.btn.boton-amarillo {
    background-color: #145b3d;
    color: rgb(255 199 2);
    border-color: rgb(28 72 45);
}

.btn.boton-amarillo:hover {
    background-color: #ff3535;
    color: rgb(255, 255, 255);
    border-color: #ffcc35;
}

.from-bloques{
    display: block;
    margin-bottom: 1rem;
}

.from-bloques .form-input{
    width: 100%;
    height: 3.5rem;
    padding: 0.7rem;
    border: 0.15rem solid #ffcc35;
    color: #26220d;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.from-bloques .form-input:hover{
   /*  outline: 0.2rem solid #26220d; */
}

.from-bloques textarea.form-input{
    height: 10rem;
    resize: none;
}

#banner {
    background-color: #000;
    height: 100vh;
}

#banner .banner-nosotros {
    height: 50vh;
}

#banner .banner-home {
    width: 100%;
    height: 100%;
    display: block;
    /*su comportamiento pasa de ser alineado a bloque */
    opacity: 0.75;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

#banner .banner-nosotros .banner-home {
    -o-object-position: top;
       object-position: top;
}

#banner .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

#banner .container h1 {
    font-size: 4.5rem;
    color: #fff;
    margin: 0;
    /* -webkit-text-stroke: 1px #000 ; */
    /*     text-shadow:
    2px 0 #000,
    -2px 0 #000,
    0 2px #000,
    0 -2px #000,
    2px 2px #000,
    -2px -2px #000,
    2px -2px #000,
    -2px 2px #000,
    1px 0 #000,
    -1px 0 #000,
    0 1px #000,
    0 -1px #000; */
}

#banner .container p {
    font-size: 1.3rem;
    color: #fff492;
    line-height: 1.5;
}

#lacarta {
    background-color: #047741;
    background-image: url("img/tarma1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

#lacarta .titulos {
    color: #ffcc35;
    text-shadow: 1.3rem 1.3rem 0.15rem #dce6e2;
}

#locales {}

#locales ul {
    padding-left: 0;
    list-style-position: inside;
    list-style-type: none;
    list-style-image: url("img/aprobado.png");
    line-height: 1;
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
}

#servicios {
    padding-top: 0;
}

#servicios .contendor-serv {
    text-align: center;
    background-color: #e5a979;
    padding: 2.8rem;
    height: 100%;
    border-radius: 1.3rem;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#servicios .contendor-serv:hover {
    -webkit-box-shadow: 1px 1px 20px 0px #452621;
            box-shadow: 1px 1px 20px 0px #452621;
}

#servicios .contendor-serv i {
    font-size: 2.8rem;
    -webkit-transform: all .4s ease;
        -ms-transform: all .4s ease;
            transform: all .4s ease;
}

#servicios .contendor-serv:hover i {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
}

#testimonio {
    position: relative;
    background-color: #824c00;
    color: #fff;
    line-height: 1.5;
}

#testimonio .titulos::before,
#testimonio .titulos::after {
    background-color: #268996;
}

#testimonio p {
    margin-bottom: 0;
}

#testimonio p::first-letter {
    /* primero letra del parrafo */
    font-size: 2rem;
    font-weight: bold;
}

#testimonio .trama-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(56, 102, 195, 0.72)), to(rgba(0, 0, 0, 0.5)));
    background-image: -o-linear-gradient(right, rgba(56, 102, 195, 0.72), rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(to left, rgba(56, 102, 195, 0.72), rgba(0, 0, 0, 0.5));
}

#testimonio .container {
    z-index: 3;
    position: relative;
}

#cocineros {}

#cocineros .columna-cocinero {}

#cocineros .columna-cocinero .contenedor-cosinero-imagen {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

#cocineros .columna-cocinero .contenedor-cosinero-imagen img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cocineros .columna-cocinero-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#cocineros .columna-cocinero-info h2 {
    color: #ffcc35;
    margin-top: 0;
    font-size: 3rem;
    font-style: italic;
}

#cocineros .columna-cocinero-info p {
    font-style: italic;
    font-size: 1.5rem;
    margin: 0;
}

#contacto {
    background-color: #ffd65c;
}

#contacto .columna-info-contacto{
    margin-top: 1rem;
    color: #26220d;
    font-size: 1.3rem;
    text-decoration: none; 
    font-style: italic;
}

#contacto .columna-info-contacto a 
{
    display: block;
    margin-top: 1rem;
    color: #26220d;
    font-size: 1.3rem;
    text-decoration: none;
}

@media (min-width: 1200px) {
    /* para pantallas grandes PC */

}

@media (max-width: 1199px) {

    /* para pantallas medianas tablets */
    .container {
        width: 960px
    }
}

@media (max-width: 991px) {

    /* para pantallas pequeñas */
    .container {
        width: 750px
    }
}

@media (max-width: 767px) {
    /* para celulares */

    html {
        font-size: 4vw;
    }

    footer .pie {
        text-align: center;
    }

    footer .pie .lista-redes {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 1rem;
    }

    footer .pie .lista-redes a {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    .empujar-33 {
        margin-left: 0 !important;
    }

    .container {
        width: 100%;
    }

    .columna-mb-100 {
        width: 100%;
    }

    .columna-mb-50 {
        width: 50%;
    }

    .columna-mb-33 {
        width: 33.33%;
    }

    .columna-mb-25 {
        width: 25%;
    }

    .orden {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

    .titulos {
        font-size: 4rem;
    }

    .cabecera .link-logo .logo {
        width: 3.5rem;
        height: auto;
    }

    .cabecera .hamb {
        display: block;
    }

    .cabecera .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1f8fd4;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: none;
    }

    .seccion {
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
    }

    .conteendor-cuadrado .contenido-cuadrado {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .mapa {
        padding-bottom: 100%;
    }

    .padding-grande {
        padding: 2rem;
    }

    .from-bloques.from-bloque-boton .btn{
        width: 100%;
        font-size: 1.4rem;
    }

    #banner {}

    #banner .container h1 {
        font-size: 4.5rem;
    }

    /* #banner .container-nosotros{
        height: 50vh;
    } */

    #servicios .contendor-serv {
        height: auto;
        margin-bottom: 1.3rem;
    }

    #cocineros .columna-cocinero-info {
        display: block
    }

    #cocineros .columna-cocinero-info h2 {
        font-size: 2rem;
        ;
    }
    #cocineros .columna-cocinero-info p {
        font-size: 1rem;
        ;
    }

    #cocineros .columna-cocinero-info.derecha-texto {
        text-align: left;
    }

    #cocineros .fila .columna-50 {
        width: 100%;
    }
}